*{
  margin:  0;
  padding:  0;
  box-sizing: border-box;
}

.card-container{
  width: 500px;
  height: 300px;
  margin: 15px;
  margin-top: 50px;
  display: flex;
}

.card-row{
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-container {
  border: 1px solid #282c34;
  width: 100%;
  border-color: #282c34;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  table-layout: fixed;
}

.t-head-color {
  text-align: center;
  border: 1px solid #282c34;
}

.my-swal {
  z-index: X!important;
}

.td {
  border: 1px solid #282c34;
}

.th-lg {
  width: 25%;
  
}

.my-button{ 
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.disableButton{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin-top: 5px;
  background-color: red !important;
  color: white !important;
}

.enableButton{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin-top: 5px;
  background-color: greenyellow !important;
  color: black !important;
}

.deleteButton:hover{
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: gray !important;
  color: white !important;
}

.showUserOrdersBtn{
  background-color: green !important;
  color: white !important;
}

.showUserOrdersBtn:hover{
  background-color: gray !important;
  color: white !important;
}

.id-cell {
  width: 100px;
}

.App {
  text-align: center;
  margin-top: 5rem;
}

.App-header {
  background-image: url('https://images.pexels.com/photos/16191975/pexels-photo-16191975/free-photo-of-helmet-on-seat.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  padding: 2rem;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-size: cover;
  border-radius: 2%;
}

.App-content {
  margin-top: 3rem;
}

a {
  color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
